{% extends 'layout.html' %}

{% block body %}
  <h1>About Us</h1>
  <p>This is a small test app that integrates a integrates a front-end REST API written in Python Flask with the Keras Deep Learning framework</p>
  <p>After registering a user can login to the dashboard and by selecting a pre-trained model perform image recognition</p>
  <p>Over time  this test application will be expandded to include more features with the hopes it cab become the seed for a wide variety of Deep Learning projects</p>
{% endblock %}
