{% extends 'layout.html' %}

{% block body %}
  <h1>Dashboard <small> Welcome {{session.username}}</small></h1>

  <h1>Image Classification</h1>
  <p>Select the pre-trained model (classifier) you wish to use and the image to use it own</p>
  <hr>
  <p></p>
  <p></p>
  <form action="/classify_image" method="post" enctype="multipart/form-data" >
      <div class="form-group col-md-4">
        <label for="inputState">Select model:</label>
        <select id="inputState" class="form-control" name="model" value={{request.form.model}}>
          <option selected>Choose...</option>
          <option>Xception</option>
          <option>VGG16</option>
          <option>VGG19</option>
          <option>ResNet50</option>
          <option>InceptionV3</option>
          <option>InceptionResNetV2</option>
          <option>MobileNet</option>
          <option>MobileNetV2</option>
          <option>DenseNet121</option>
          <option>DenseNet169</option>
          <option>DenseNet201</option>
          <option>NASNetMobile</option>
        </select>
      </div>

      <span class="btn btn-default btn-file">
        Browse <input type="file" name="image">
      </span>

    <input type="submit" value="Upload your image" class="btn btn-primary">
  </form>
  <hr>
  <p></p>
  <p></p>
  <hr>
  <h1>Model Training</h1>
  <p>Below you can train you own model.</p>
  <hr>

{% endblock %}
